/*
    Erica Goodman
    8766134
*/
body{
    font: normal normal normal 12px/1.5 Verdana, Arial, Helvetica, sans-serif;
    height: 100vh;
    width : 100vw;
    background-color: hsla(185, 70%, 65%, 0.5);
}
h2{
    font-size: 2rem;
    color: #63c;
}
header{
    background-color: hsl(33, 19%, 59%);
}

main{
    float: left;
    width: 65vw;
    background-color: hsl(176, 100%, 37%);
    height: 60vh;
}
aside{
    float: right;
    width: 25vw;
    background-color: hsl(89, 65%, 62%);
    height: 60vh;
}
footer{
    clear: both; /*puts the footer under the main & aside*/
    background-color: hsl(21, 72%, 37%);
}
.structural{
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
}
#para1{
    color: rgb(116, 30, 66);
    
}
#para2{
    color: rgb(21, 65, 146);
}
a:hover{/*Pseudo-class*/
    color: #e42;
}
footer p{
    font-size: .75em;
}